@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: "Poppins", sans-serif;
  background-color: black;
}

* {
  box-sizing: border-box;
  margin: 0;
}

/* Hamburger Menu */

.hamburger {
  cursor: pointer;
  width: 70px;
  height: 70px;
  transition: all 0.25s;
  position: relative;
  background: #3195ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 24px;
  /* left: 0; */
  width: 44px;
  height: 2px;
  background: white;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(10px);
}

.hamburger-bottom {
  transform: translateY(20px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

.main-content {
  margin: 0;
  overflow: hidden;
  background: url("https://images.unsplash.com/photo-1592887714077-1c2ca9cdcf48?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NjU2MTIyMjI&ixlib=rb-1.2.1&q=80");
  background-size: cover;
  background-position: 20% 30%;
}
